.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.activity_slider {
  width: 500px;
  position: absolute;
  left: 500px;
  bottom: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: move;
  background-color: white;
  padding-bottom: 40px;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.activity_slider:hover {
  opacity: 0.95;
}